@page "/clearance"
@rendermode InteractiveServer
@using System.Text.Json
@inject IHttpClientFactory ClientFactory
@using System.Text.Json.Serialization;
<PageTitle>Clearance</PageTitle>

<!-- Section: Design Block -->
<section class="login text-center">
    <div class="container py-4">
        <h1>Hello</h1>
    </div>
</section>