@inherits LayoutComponentBase

<header class="d-md-flex flex-wrap justify-content-start border-bottom sticky-top shadow-sm p-3 mb-5 bg-body-tertiary rounded" style="background-color: rgb(248, 236, 228);">
            <a href="/"
                class="d-flex align-items-center link-body-emphasis text-decoration-none my-3" >
                <svg class="bi me-2" width="40" height="32">
                    <img src="images/logo.png" alt="Logo" style="height: 80px; width: auto;">
                </svg>
                <h1 style="font-weight: bold; margin-left: 20px;"><span style="color: rgb(243, 115, 29);">My</span>ACCES</h1>
            </a>
        </header>
<div class="">
    @Body
</div>