
@inject NavigationManager Navigation
@inject ProtectedSessionStorage ProtectedSessionStore
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon"  type="image/png" href="images/logo.png">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorApp1.styles.css" />
    <!-- jQuery (Required for Bootstrap and Selectize) -->
    <!-- jQuery (Required for Bootstrap and Selectize) -->
    <link rel="stylesheet" href="css/datatables.css" />
    <link rel="stylesheet" href="css/datatables.min.css" />
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.2.2/b-3.2.2/b-colvis-3.2.2/b-html5-3.2.2/b-print-3.2.2/cr-2.0.4/r-3.0.4/sc-2.4.3/datatables.min.css" rel="stylesheet" />

    <!-- jQuery (Required for Bootstrap and Selectize) -->
<!-- jQuery (Required for Bootstrap and Selectize) -->
    <script src="js/datatables.js"></script>
    <script src="js/datatables.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Selectize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" rel="stylesheet">

    <!-- Selectize.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>

    <!-- DataTables CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.2.2/b-3.2.2/b-colvis-3.2.2/b-html5-3.2.2/b-print-3.2.2/cr-2.0.4/r-3.0.4/sc-2.4.3/datatables.min.css" rel="stylesheet" integrity="sha384-/Fg3pfcmxHvlEdIBrJWNLgsEu9wRwQ97fc6Xza9MJ67Adu94H52Zo1Kws3H9RsSk" crossorigin="anonymous">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" integrity="sha384-VFQrHzqBh5qiJIU0uGU5CIW3+OWpdGGJM9LBnGbuIH2mkICcFZ7lPd/AAtI7SNf7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js" integrity="sha384-/RlQG9uf0M2vcTw3CX7fbqgbj/h8wKxw7C3zu9/GxcBPRKOEcESxaxufwRXqzq6n" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.2.2/b-3.2.2/b-colvis-3.2.2/b-html5-3.2.2/b-print-3.2.2/cr-2.0.4/r-3.0.4/sc-2.4.3/datatables.min.js" integrity="sha384-pn7SDSyZB7MA+PQrR+m74rv1L+cRdVxk/ma3tVGhZav+H+vPBwJYoE2tcA+Kir0Y" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.2.2/b-3.2.2/b-colvis-3.2.2/b-html5-3.2.2/b-print-3.2.2/cr-2.0.4/r-3.0.4/sc-2.4.3/datatables.min.js"></script>




    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="encryption.js"></script>
    @code{
        private async Task HandleLogout()
        {
            await ProtectedSessionStore.DeleteAsync("UserId");
            Navigation.NavigateTo("/", true);
            Console.WriteLine("Clicked");
        }
    }
</body>
 
</html>
